*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg,pink,orange);  
    gap: 20px;  
}
.box{
    width: 40%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn1{
    height: 70px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.747);
    border: 1px solid black;
    border-radius: 50%;  
    font-size: 1.3rem;
    font-weight: bold;
}
input{
    width:300px;
    height: 60px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid black;
    font-size: 3rem;
    color: black;
}
.btn2{
    background-color: rgba(255, 217, 0, 0.235);
}
.btn3{
    background-color: white;
    color: black;
}
.btn1:hover{
    background-color: rgba(0,0,0,0.899);
}
.btn2:hover{
    background-color: gold;
}
.btn3:hover{
    background-color: rgba(0, 0, 0, 0.276);
}

@media (max-width:730px) {
    .btn1{
    height: 60px;
    width: 60px;
    }
    input{
    width:250px;
    height: 60px;        
    }
}
@media (max-width:630px) {
    .btn1{
    height: 50px;
    width: 50px;
    }
    input{
    width: 200px;
    height: 60px;        
    }
}
@media (max-width:530px) {
    .btn1{
    height:40px;
    width: 40px;
    }
    input{
    width: 170px;
    height: 60px;        
    }
}
@media (max-width:430px) {
    .btn1{
    height: 30px;
    width: 30px;
    font-size: 1rem;
    }
    input{
    width: 150px;
    height: 40px;      
    font-size: 2rem;  
    }
}
@media (max-width:330px) {
    .btn1{
    height: 25px;
    width: 25px;
    font-size: 0.8rem;
    }
    input{
    width: 150px;
    height: 30px;      
    font-size: 1.5rem;  
    }
}